<div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

<section class="home">
  <div class="hero">
    <p>Hola!</p>
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, dolore.</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi inventore, itaque ducimus, dignissimos nemo quis deserunt beatae voluptatibus tempore repellendus porro magni, vel id sint cum ipsum ea praesentium consequatur non. Mollitia ullam at tempore doloribus laboriosam ad perspiciatis quibusdam et explicabo doloremque hic incidunt accusamus maiores maxime quisquam veritatis quasi odit amet eum, recusandae ratione. Obcaecati eveniet earum distinctio placeat modi adipisci et consequuntur atque nulla dolorum ducimus dolores libero perferendis inventore molestias, eos voluptatibus ipsa eligendi iure! Distinctio recusandae eligendi debitis, laborum ipsum culpa veniam ratione officiis in, ea sapiente cumque. Cum eveniet vel sequi, voluptates iure reiciendis!</p>
    <a class="btnCV" href="">Descargar CV</a>
  </div>
</section>