<section class="home">
  <div class="hero">
    <p>Hola!</p>
    <h1>SOY <font color="#f14a60">MARCO</font> ALZAMORA</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores commodi fugit suscipit quos nulla est facere itaque culpa quae aliquam?</p>
    <a class="btnCV" href="">Descargar CV</a>
  </div>
</section>