<nav class="navbar">
  <div class="logo"><img src="https://i.imgur.com/5GfW76D.png" alt="Marco Alzamora Cueto"></div>
  <input type="checkbox" id="click">
  <label for="click" class="menu-btn"><i class="fas fa-bars"></i></label>
  <ul>
      <li><a class="active" href="/">Inicio</a></li>
      <li><a href="/proyectos">Proyectos</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li><a href="/contacto">Contacto</a></li>
  </ul>
  <div class="dark-mode">
    <button class="switch" id="switch">
    <span><i class="fas fa-sun"></i></span>
    <span><i class="fas fa-moon"></i></span>
  </button>
  </div>
</nav>
<div class="espacio"></div>