@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.home {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #edf1fd;
    position: relative;
    background-size: 1330px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url("../images/bg.png");
}

.hero {
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
    p {
        color: #6c707c;
        font-size: 16px;
        margin: 20px 0;
    }
    h1 {
        font-size: 40px;
        margin: 0px;
        font-weight: 900;
        letter-spacing: 1px;
        color: #292929;
    }
    .btnCV {
        width: 200px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #292929;
        color: #fff;
    }
}